html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    .scrolled & {
        padding-top: 75px;
    }
}
